name: Test and Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - run: yarn
      - name: Lint
        run: |
          yarn run check:eslint
          yarn run check:prettier
      - run: yarn run build:lib
      - run: yarn test

      - run: yarn pack
      - name: Upload the package as an artifact
        if: matrix.node-version == '16.x'
        uses: actions/upload-artifact@v2
        with:
          name: react-date-select
          path: react-date-select*.tgz
